<!-- <div class="container">
    <app-loader *ngIf="loader"></app-loader>
  
    <div class="col-md-4 mb-5">
      <div class="icon">
         <h1>FIFA</h1>
      </div>
    </div>
  
    <div class="col-md-4 ">
  
      <form [formGroup]="loginForm">
        <app-valid-input [inputType]="'email'" [control]="$any(loginForm.get('email'))" class=""
          [placeHolder]="'Nombre de usuario'">
        </app-valid-input>
  
        <app-valid-input [inputType]="'password'" [control]="$any(loginForm.get('password'))"
          [placeHolder]="'Contraseña'"></app-valid-input>
  
        <span class="color-gray"><i> No recuerdas tu contraseña? Contacta con el administrador </i><a href="auth/login"
            class="color-gray">AQUÍ</a></span>
  
        <div class="col-md-12" style="text-align: center;">
          <button type="submit" [disabled]="loginForm.invalid" (click)="submit()" class="btn red text-white fs-4 ">
            Ingresar
          </button>
        </div>
  
      </form>
  
  
  
    </div>
  
  </div> -->
