:host { 
    display: contents; 
  }
  .home-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-hero {
    flex: 0 0 auto;
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url("https://images2.alphacoders.com/129/1291855.jpg");
  }
  .home-bg {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0.7;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-gray-black);
  }
  .home-container01 {
    top: auto;
    left: auto;
    right: 0px;
    width: 100%;
    bottom: 0px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container02 {
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    justify-content: center;
  }
  .home-text {
    color: #c02727;
    /* width: 445px; */
    /* height: 361px; */
    font-size: 15rem;
    align-self: flex-start;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
  }
  .home-image {
    top: auto;
    left: auto;
    right: 0px;
    width: 100%;
    bottom: -1px;
    position: absolute;
    object-fit: cover;
  }
  .home-image1 {
    left: auto;
    right: 0px;
    width: 100%;
    bottom: 0px;
    display: none;
    position: absolute;
    object-fit: cover;
  }
  .home-section1 {
    width: 100%;
    height: 1806px;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-pimary-900);
  }
  .home-container03 {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    flex-direction: column;
  }
  .home-container04 {
    width: 66%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-gallery {
    /* width: 818px; */
    margin-top: 5%;
    height: 700px;
    display: grid;
    padding: 48px;
    grid-gap: var(--dl-space-space-unit);
    max-width: 1400px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-section3 {
    width: 100%;
    height: 1700px;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-secondary-100);
  }
  .home-container05 {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-contact {
    display: flex;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .home-text01 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-halfunit);
    font-size: xxx-large;
  }
  .home-form {
    width: 1096px;
    height: 1320px;
    display: flex;
    padding: var(--dl-space-space-twoandhalf);
    max-width: 100%;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius50);
    flex-direction: column;
    background-color: var(--dl-color-pimary-800);
  }
  .home-text02 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text03 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput01 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput01:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text04 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput02 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput02:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text05 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput03 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput03:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text06 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput04 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput04:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text07 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput05 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput05:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text08 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput06 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput06:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text09 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput07 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput07:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-container06 {
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .home-image2 {
    right: 0px;
    width: 100%;
    bottom: -7px;
    position: absolute;
    object-fit: cover;
  }
  .home-section31 {
    width: 100%;
    height: 1800px;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: #430a0a;
  }
  .home-container07 {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-contact1 {
    display: flex;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .home-text10 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-halfunit);
    font-size: xxx-large;
  }
  .home-form1 {
    width: 1096px;
    height: 1435px;
    display: flex;
    padding: var(--dl-space-space-twoandhalf);
    max-width: 100%;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius50);
    flex-direction: column;
    background-color: var(--dl-color-pimary-800);
  }
  .home-text11 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-select {
    color: #94a3b8;
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
    transition: .3s;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-text12 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput08 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput08:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text13 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput09 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput09:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text14 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput10 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput10:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text15 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput11 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput11:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text16 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput12 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput12:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text17 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput13 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput13:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text18 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput14 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput14:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text19 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput15 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput15:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-container08 {
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .home-image3 {
    right: 0px;
    width: 100%;
    bottom: -7px;
    position: absolute;
    object-fit: cover;
  }
  .home-section32 {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: #433d0a;
  }
  .home-container09 {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-contact2 {
    display: flex;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .home-text20 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-halfunit);
    font-size: xxx-large;
  }
  .home-form2 {
    width: 1096px;
    display: flex;
    padding: var(--dl-space-space-twoandhalf);
    max-width: 100%;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius50);
    flex-direction: column;
    background-color: var(--dl-color-pimary-800);
  }
  .home-text21 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-select1 {
    color: #94a3b8;
      width: 100%;
      font-size: xx-large;
      outline: 0;
      padding: var(--dl-space-space-triplequarter);
      box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
      transition: .3s;
      border-width: 0px;
      border-radius: var(--dl-radius-radius-radius4);
  }
  .home-container10 {
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .home-image4 {
    right: 0px;
    width: 100%;
    bottom: -2px;
    position: absolute;
    object-fit: cover;
  }
  .home-section33 {
    width: 100%;
    height: 1500px;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: #2b2929;
  }
  .home-container11 {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-contact3 {
    display: flex;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .home-text22 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-halfunit);
    font-size: xxx-large;
  }
  .home-form3 {
    width: 1096px;
    height: 470px;
    display: flex;
    padding: var(--dl-space-space-twoandhalf);
    max-width: 100%;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    padding-left: 2.5rem;
    border-radius: var(--dl-radius-radius-radius50);
    flex-direction: column;
    background-color: var(--dl-color-pimary-800);
  }
  .home-text23 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput16 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput16:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text24 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
    font-size: xx-large;
  }
  .home-textinput17 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    font-size: xx-large;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    padding-left: 0.75rem;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput17:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-container12 {
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .home-ul {
    height: 233px;
  }
  .home-image5 {
    right: 0px;
    width: 100%;
    bottom: -1px;
    position: absolute;
    object-fit: cover;
  }
  @media(max-width: 991px) {
    .home-gallery {
      grid-template-columns: 1fr 1fr;
    }
    .home-section3 {
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-container05 {
      width: 100%;
    }
    .home-section31 {
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-container07 {
      width: 100%;
    }
    .home-section32 {
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-container09 {
      width: 100%;
    }
    .home-section33 {
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-container11 {
      width: 100%;
    }
  }
  @media(max-width: 767px) {
    .home-section1 {
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-container04 {
      width: 100%;
    }
    .home-gallery {
      padding-left: 32px;
      padding-right: 32px;
    }
    .home-form {
      width: 100%;
    }
    .home-form1 {
      width: 100%;
    }
    .home-form2 {
      width: 100%;
    }
    .home-form3 {
      width: 100%;
    }
  }
  @media(max-width: 479px) {
    .home-container02 {
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-gallery {
      padding-top: 32px;
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: 32px;
    }
    .home-text01 {
      text-align: center;
    }
    .home-text10 {
      text-align: center;
    }
    .home-text20 {
      text-align: center;
    }
    .home-text22 {
      text-align: center;
    }
  }
  .custom-pag {
    margin-top: 2%;
    place-content: center;
    font-size: -webkit-xxx-large;
    position: absolute;
    display: flex;
  }
  .btns {
    background-color: #0869d2;
    color: #fff;
    border-radius: 0;
    scale: 90%;
    width: 80%;
    margin-left: 10%;
    --bs-btn-hover-border-color: grey;
  }
  
  .input-group {
    display: flex; 
    align-items: center; 
  }
  
  
  .home-textinput08 {
    flex: 1; 
    margin-right: 10px; 
  }
  
  
  .home-button {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    & li a {
      color: rgba(100,116,139,1);
      margin-top: var(--dl-space-space-halfunit);
      margin-left: 2.25rem;
      margin-bottom: var(--dl-space-space-halfunit);
      font-size: xx-large;
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
      font-weight: 500;
      text-transform: none;
      text-decoration: none;
    }
  }
  
  
  