<div class="gallery-card1-gallery-card" [ngClass]="rootClassName">
  <!-- <img
    [attr.alt]="image_alt"
    [attr.src]="image_src"
    class="gallery-card1-image"
  /> -->
  <h2 class="gallery-card1-text">{{ name }}</h2>
  <span class="gallery-card1-text1">{{ estadio }}</span>
  <span class="gallery-card1-text1">{{ web }}</span>
  <span class="gallery-card1-text1">{{ nacionalidad }}</span>
  <span class="gallery-card1-text1">{{ fecha }}</span>
  <span class="gallery-card1-text1">{{ entrenador }}</span>
  <span class="gallery-card1-text1">{{ capacidad }}</span>
  <span class="gallery-card1-text1">{{ valor }}</span>
</div>
