<div class="home-container">
  <div class="home-hero">
    <div class="home-bg"></div>
    <div class="home-container01">
      <div class="home-container02"><h1 class="home-text">FIFA</h1></div>
      <img alt="image" src="/assets/gray-vector.svg" class="home-image" />
      <img alt="image" src="/assets/white-vector.svg" class="home-image1" />
    </div>
  </div>
  <nav>
    <ul style="display: flex;">
      <li><a routerLink="/lista-equipo">Lista Equipo</a></li>
      <li><a routerLink="/editar-equipo">Editar Equipo</a></li>
      <li><a routerLink="/crear-equipo">Crear Equipo</a></li>
      <li><a routerLink="/eliminar-equipo">Eliminar Equipo</a></li>
    </ul>
  </nav>
  <!-- <div *ngIf="equiposLista?.content.length > 0" class="home-section1">
    <div class="home-container03"><div class="home-container04"></div></div>
    
    <div  class="home-gallery">
      <gallery-card1 *ngFor="let item of equiposLista?.content" rootClassName="rootClassName"[equipo]="item"></gallery-card1>
    </div>
    <div class="pagination custom-pag">
      <button  class="card shadow margin" (click)="onPageChange(currentPage - 1)"> < </button>
      <ng-container *ngFor="let page of pageNumbers()">
        <button class="card shadow margin" (click)="onPageChange(page)" [disabled]="currentPage === page">{{ page + 1 }}</button>
      </ng-container>
      <button  class="card shadow margin" (click)="onPageChange(currentPage + 1)"> > </button>
    </div>
  </div> -->



  <!-- <div class="home-section3">
    <div class="home-container05">
      <form [formGroup]="createEquipoForm">
      <div class="home-contact">
        <h2 class="home-text01">Registra un Equipo Nuevo</h2>
      </div>
      <div class="home-form">
        <span class="home-text02 TextXS">Nombre</span>
        <input
          formControlName="nombre"
          type="text"
          placeholder="Nombre"
          class="home-textinput TextSM input"
        />
        <span class="home-text03 TextXS">Estadio</span>
        <input
          formControlName="estadio"
          type="text"
          placeholder="Estadio"
          class="home-textinput01 TextSM input"
        />
        <span class="home-text04 TextXS">Web</span>
        <input
          formControlName="sitioWeb"
          type="text"
          placeholder="Sitio Web"
          class="home-textinput02 TextSM input"
        />
        <span class="home-text05 TextXS">Nacionalidad</span>
        <input
          formControlName="nacionalidad"
          type="text"
          placeholder="Nacionalidad"
          class="home-textinput03 TextSM input"
        />
        <span class="home-text06 TextXS">Fecha de fundacion</span>
        <input
          formControlName="fundacion"
          type="date"
          placeholder="Fecha de Fundacion"
          class="home-textinput04 TextSM input"
        />
        <span class="home-text07 TextXS">Entrenador</span>
        <input
          formControlName="entrenador"
          type="text"
          placeholder="Entrenador"
          class="home-textinput05 TextSM input"
        />
        <span class="home-text08 TextXS">
          Capacidad de asistentes en el estadio
        </span>
        <input
          formControlName="capacidad"
          type="text"
          placeholder="Capacidad del Estadio"
          class="home-textinput06 TextSM input"
        />
        <span class="home-text09 TextXS">Valor</span>
        <input
          formControlName="valor"
          type="text"
          placeholder="Valor"
          class="home-textinput07 TextSM input"
        />
        <div class="home-container06">
          <button [disabled]="!createEquipoForm.valid" (click)="submitForm(); clearForm()" class="btn btns"
            >CREAR</button>
        </div>
      </div>
    </form>
    </div>
    <img alt="image" src="/assets/gray-vector.svg" class="home-image2" />
  </div> -->

  <!-- <div class="home-section31">
    <div class="home-container07">
      <form [formGroup]="editEquipoForm">
        <div class="home-contact1">
          <h2 class="home-text10">Edita tu Equipo</h2>
        </div>
        <div class="home-form1">
          <label for="buscarEquipo" class="home-text12 TextXS">Buscar Equipo</label>
          <div class="input-group">
            <input
              formControlName="id"
              type="text"
              id="buscarEquipo"
              placeholder="Buscar únicamente por ID"
              class="home-textinput08 TextSM input"
            />
            <button (click)="getEquipoById()" class="home-button">Buscar</button>
          </div>
          <span class="home-text12 TextXS">Nombre</span>
          <input
            formControlName="nombre"
            type="text"
            placeholder="Nombre"
            class="home-textinput08 TextSM input"
          />
          <span class="home-text13 TextXS">Estadio</span>
          <input
            formControlName="estadio"
            type="text"
            placeholder="Estadio"
            class="home-textinput09 TextSM input"
          />
          <span class="home-text14 TextXS">Web</span>
          <input
            formControlName="sitioWeb"
            type="text"
            placeholder="Sitio Web"
            class="home-textinput10 TextSM input"
          />
          <span class="home-text15 TextXS">Nacionalidad</span>
          <input
            formControlName="nacionalidad"
            type="text"
            placeholder="Nacionalidad"
            class="home-textinput11 TextSM input"
          />
          <span class="home-text16 TextXS">Fecha de fundación</span>
          <input
            formControlName="fundacion"
            type="date"
            placeholder="Fecha de Fundación"
            class="home-textinput12 TextSM input"
          />
          <span class="home-text17 TextXS">Entrenador</span>
          <input
            formControlName="entrenador"
            type="text"
            placeholder="Entrenador"
            class="home-textinput13 TextSM input"
          />
          <span class="home-text18 TextXS">Capacidad de asistentes en el estadio</span>
          <input
            formControlName="capacidad"
            type="text"
            placeholder="Capacidad del Estadio"
            class="home-textinput14 TextSM input"
          />
          <span class="home-text19 TextXS">Valor</span>
          <input
            formControlName="valor"
            type="text"
            placeholder="Valor"
            class="home-textinput15 TextSM input"
          />
          <div class="home-container08">
            <button [disabled]="!editEquipoForm.valid" (click)="editEquipo(); clearForm()" class="btn btns"
            >EDITAR</button>
            <button  (click)="deleteEquipos(); clearForm()" class="btn btns"
            >ELIMINAR</button>
          </div>
        </div>
      </form>
      <img alt="image" src="/assets/gray-vector.svg" class="home-image3" />
    </div>
  </div> -->
  

  <!-- <div class="home-section32">
    <div class="home-container09">
      <div class="home-contact2">
        <h2 class="home-text20">Eliminar Equipo</h2>
      </div>
      <div class="home-form2">
        <label for="buscarEquipo" class="home-text12 TextXS">Buscar Equipo</label>
        <div class="input-group">
          <input
            type="text"
            id="buscarEquipo"
            placeholder="Buscar únicamente por ID"
            class="home-textinput08 TextSM input"
          />
          <button (click)="getEquipoById()" class="home-button">Buscar</button>
        </div>
        <div class="home-container10">
          <button  (click)="deleteEquipos(); clearForm()" class="btn btns"
          >ELIMINAR</button>
        </div>
      </div>
    </div>
    <img alt="image" src="/assets/gray-vector.svg" class="home-image4" />
  </div> -->
  <div class="home-section33">
    <div class="home-container11">
      <div class="home-contact3">
        <h2 class="home-text22">Consultar Equipos</h2>
      </div>
      <div class="home-form3">
        <span class="home-text23 TextXS">ID</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput16 TextSM input"
        />
        <span class="home-text24 TextXS">Fecha</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput17 TextSM input"
        />
        <div class="home-container12">
          <secondary-button
            button="FILTRAR"
            rootClassName="secondary-button-root-class-name3"
          ></secondary-button>
        </div>
      </div>
    </div>

      <div class="home-container03"><div class="home-container04"></div></div>
      <div class="home-gallery">
        <gallery-card1 rootClassName="rootClassName"></gallery-card1>
        <gallery-card1
          image_src="https://images.unsplash.com/photo-1579551053957-ee77f9b970c7?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQ2fHx3b29kc3xlbnwwfHx8fDE2MjY0NDc1ODg&amp;ixlib=rb-1.2.1&amp;w=1000"
          rootClassName="rootClassName1"
        ></gallery-card1>
        <gallery-card1
          image_src="https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHdvb2RzfGVufDB8fHx8MTYyNjQ0NzU3Mw&amp;ixlib=rb-1.2.1&amp;w=1000"
          rootClassName="rootClassName2"
        ></gallery-card1>
      </div>
    <!-- </div> -->

    <img alt="image" src="/assets/gray-vector.svg" class="home-image5" />
  </div>
  <app-footer></app-footer>
</div>
