<div class="home-container">
  <div class="home-hero">
    <div class="home-bg"></div>
    <div class="home-container01">
      <div class="home-container02"><h1 class="home-text">FIFA</h1></div>
      <img alt="image" src="/assets/gray-vector.svg" class="home-image" />
      <img alt="image" src="/assets/white-vector.svg" class="home-image1" />
    </div>
  </div>
  <div class="home-section1">
    <div class="home-container03"><div class="home-container04"></div></div>
    <div class="home-gallery">
      <gallery-card1 rootClassName="rootClassName"></gallery-card1>
      <gallery-card1
        image_src="https://images.unsplash.com/photo-1579551053957-ee77f9b970c7?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQ2fHx3b29kc3xlbnwwfHx8fDE2MjY0NDc1ODg&amp;ixlib=rb-1.2.1&amp;w=1000"
        rootClassName="rootClassName1"
      ></gallery-card1>
      <gallery-card1
        image_src="https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHdvb2RzfGVufDB8fHx8MTYyNjQ0NzU3Mw&amp;ixlib=rb-1.2.1&amp;w=1000"
        rootClassName="rootClassName2"
      ></gallery-card1>
    </div>
  </div>
  <div class="home-section3">
    <div class="home-container05">
      <div class="home-contact">
        <h2 class="home-text01">Registra un Equipo Nuevo</h2>
      </div>
      <div class="home-form">
        <span class="home-text02 TextXS">Nombre</span>
        <input
          type="text"
          placeholder="Full Name"
          class="home-textinput TextSM input"
        />
        <span class="home-text03 TextXS">Estadio</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput01 TextSM input"
        />
        <span class="home-text04 TextXS">Web</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput02 TextSM input"
        />
        <span class="home-text05 TextXS">Nacionalidad</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput03 TextSM input"
        />
        <span class="home-text06 TextXS">Fecha de fundacion</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput04 TextSM input"
        />
        <span class="home-text07 TextXS">Entrenador</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput05 TextSM input"
        />
        <span class="home-text08 TextXS">
          Capacidad de asistentes en el estadio
        </span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput06 TextSM input"
        />
        <span class="home-text09 TextXS">Valor</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput07 TextSM input"
        />
        <div class="home-container06">
          <secondary-button
            button="CREAR"
            rootClassName="secondary-button-root-class-name"
          ></secondary-button>
        </div>
      </div>
    </div>
    <img alt="image" src="/assets/gray-vector.svg" class="home-image2" />
  </div>
  <div class="home-section31">
    <div class="home-container07">
      <div class="home-contact1">
        <h2 class="home-text10">Edita tu Equipo</h2>
      </div>
      <div class="home-form1">
        <span class="home-text11 TextXS">Elije el equipo</span>
        <select class="home-select">
          <option value="Option 1">Option 1</option>
          <option value="Option 2">Option 2</option>
          <option value="Option 3">Option 3</option>
        </select>
        <span class="home-text12 TextXS">Nombre</span>
        <input
          type="text"
          placeholder="Full Name"
          class="home-textinput08 TextSM input"
        />
        <span class="home-text13 TextXS">Estadio</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput09 TextSM input"
        />
        <span class="home-text14 TextXS">Web</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput10 TextSM input"
        />
        <span class="home-text15 TextXS">Nacionalidad</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput11 TextSM input"
        />
        <span class="home-text16 TextXS">Fecha de fundacion</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput12 TextSM input"
        />
        <span class="home-text17 TextXS">Entrenador</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput13 TextSM input"
        />
        <span class="home-text18 TextXS">Capacidad de asistentes en el estadio</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput14 TextSM input"
        />
        <span class="home-text19 TextXS">Valor</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput15 TextSM input"
        />
        <div class="home-container08">
          <secondary-button
            button="EDITAR"
            rootClassName="secondary-button-root-class-name1"
          ></secondary-button>
        </div>
      </div>
    </div>
    <img alt="image" src="/assets/gray-vector.svg" class="home-image3" />
  </div>
  <div class="home-section32">
    <div class="home-container09">
      <div class="home-contact2">
        <h2 class="home-text20">Eliminar Equipo</h2>
      </div>
      <div class="home-form2">
        <span class="home-text21 TextXS">Elije el equipo</span>
        <select class="home-select1">
          <option value="Option 1">Option 1</option>
          <option value="Option 1">Option 1</option>
          <option value="Option 2">Option 2</option>
          <option value="Option 2">Option 2</option>
          <option value="Option 3">Option 3</option>
          <option value="Option 3">Option 3</option>
        </select>
        <div class="home-container10">
          <secondary-button
            button="ELIMINAR"
            rootClassName="secondary-button-root-class-name2"
          ></secondary-button>
        </div>
      </div>
    </div>
    <img alt="image" src="/assets/gray-vector.svg" class="home-image4" />
  </div>
  <div class="home-section33">
    <div class="home-container11">
      <div class="home-contact3">
        <h2 class="home-text22">Consultar Equipos</h2>
      </div>
      <div class="home-form3">
        <span class="home-text23 TextXS">ID</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput16 TextSM input"
        />
        <span class="home-text24 TextXS">Fecha</span>
        <input
          type="text"
          placeholder="Email"
          class="home-textinput17 TextSM input"
        />
        <div class="home-container12">
          <secondary-button
            button="FILTRAR"
            rootClassName="secondary-button-root-class-name3"
          ></secondary-button>
        </div>
      </div>
    </div>
    <!-- <ul class="home-ul list">
      <li class="list-item"><span>Text</span></li>
      <li class="list-item"><span>Text</span></li>
      <li class="list-item"><span>Text</span></li>
    </ul> -->

    <!-- <div class="home-section1"> -->
      <div class="home-container03"><div class="home-container04"></div></div>
      <div class="home-gallery">
        <gallery-card1 rootClassName="rootClassName"></gallery-card1>
        <gallery-card1
          image_src="https://images.unsplash.com/photo-1579551053957-ee77f9b970c7?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQ2fHx3b29kc3xlbnwwfHx8fDE2MjY0NDc1ODg&amp;ixlib=rb-1.2.1&amp;w=1000"
          rootClassName="rootClassName1"
        ></gallery-card1>
        <gallery-card1
          image_src="https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHdvb2RzfGVufDB8fHx8MTYyNjQ0NzU3Mw&amp;ixlib=rb-1.2.1&amp;w=1000"
          rootClassName="rootClassName2"
        ></gallery-card1>
      </div>
    <!-- </div> -->

    <img alt="image" src="/assets/gray-vector.svg" class="home-image5" />
  </div>
  <app-footer></app-footer>
</div>
